body
{
	font-size: 9pt;
	font-family:ו;
	color:#3366FF;
}
A
{
	FONT-SIZE:9pt;
	TEXT-DECORATION:underline;
	color:#3366FF;
}
A:link{
	FONT-SIZE:9pt;
	TEXT-DECORATION:none;
	color:#3366FF;
}
A:visited{
	FONT-SIZE:9pt;
	TEXT-DECORATION:none;
	color:#3366FF;
}
A:active{
	FONT-SIZE:9pt;
	TEXT-DECORATION:none;
	color:#3366FF;
}
A:hover{
	COLOR:red;
	TEXT-DECORATION:underline
}
TABLE{
	FONT-SIZE:9pt
}
TR{
	FONT-SIZE:9pt
}
TD{
	FONT-SIZE:9pt
}